{% extends "auctions/layout.html" %}

{% block body %}
  <form action="{% url 'create-listing' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" name="title" class="form-control" placeholder="Title" required>
    </div>
    <div class="form-group">
      <input type="number" step="0.01" name="price" class="form-control" placeholder="Starting Bid" required>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="description" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
      <input type="url" class="form-control" name="photo" placeholder="Photo URL">
    </div>
    <div class="form-group">
      <input type="text" placeholder="Category" name="category" placeholder="Category" class="form-control">
    </div>
    <input type="submit" value="Create Listing" class="btn btn-primary">
  </form>

  <!-- <h2>TEST FORM BELOW:</h2>
  {{ form.as_p }} -->
{% endblock %}