{% extends "auctions/layout.html" %}

{% block body %}    
    <!-- add/remove from watchlist -->
    {% if user.is_authenticated %}
      <form action="{% url 'add-remove-watchlist' listing.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="{{ watchlist_message }}" class="btn btn-sm btn-primary watchlist-button">
      </form>
    {% endif %}
    
    <!-- start listing section -->
    <h2>{{ listing.title }}</h2>
    
    <div class="row listing-container">
      <div class="col-md-3">
        <img src="{{ listing.photo }}" alt="Photo of {{ listing.title }}" class="img-small">
      </div>
      <div class="col-md-9">
        <h3>${{ listing.price }}</h3>

        <!-- End auction button. Only present if user has created listing and auction is active -->
        {% if user_is_creator and listing.status %}
          <form action="{% url 'close-listing' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="End Auction">
          </form>
        {% endif %}
        
        <!-- display auction winner if there's a bid, and listing is closed -->
        {% if max_bid.bidder == user and not listing.status %}
          <h4>You won the auction!</h4>
        {% elif max_bid and not listing.status %}
          <h4>Auction Winner: {{ max_bid.bidder.username }}</h4>
        {% elif not max_bid and not listing.status %}
          <h4>Auction Closed</h4>
        {% endif %}

        <p>{{ listing.description }}</p>
        <p>Listed: {{ listing.date }}</p>
        <p>Listed by: {{ listing.user.username }}</p>
      </div>
    </div>

    {% if user.is_authenticated %}

      <!-- show bid form if listing is active. Dont show if user is listing creator -->
      {% if listing.status and not user_is_creator %}     
        <h3>Place a bid</h3>
        <form action="{% url 'bid' listing.id %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input type="number" step="0.01" required name="price" class="form-control" placeholder="Bid Amount">
          </div>
          <input type="submit" value="Submit" class="btn btn-sm btn-primary">
        </form>
      {% endif %}

      <h3>Bid History</h3>
      <table class="table table-striped">
        <tr>
          <th>Username</th>
          <th>Bid Amount</th>
        </tr>
      {% for bid in bids %}
        <tr>
          <td>{{ bid.bidder.username }}</td> 
          <td>${{ bid.price }}</td>
        </tr>
      {% endfor %}
      </table>
      
      <h3>Leave a Comment</h3>
      <div class="comment-section">
      <form action="{% url 'comment' listing.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" required name="comment_text" class="form-control" placeholder="Comment">
        </div>
        <input type="submit" value="Submit" class="btn btn-sm btn-primary">
      </form>

      <h3>Comments</h3>
      <ul>
      {% for comment in comments %}
        <li class="comment">
          On {{ comment.date }}, {{ comment.user.username }} wrote:
          <br>
          {{ comment.comment }}
        </li>
      {% endfor %}
      </ul>
      </div>

    {% endif %}

{% endblock %}